* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #F7F4EF;
    color: #4A3B32;
}


nav {
    background-color: #393330;
    color: #fff;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 7rem;
    justify-content: space-between;
    width: 100%; /* Asegura que el nav ocupe todo el ancho de la página */
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff9e0ef;
    font-family: 'Spicy Rice', cursive;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 7px; /*Especiado entre el subrayado y el enlace*/
}

nav .btn-reservar {
    background-color: #fff5e7c8;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 7px;
    color: #4A3B32;
    font-weight: bold;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

nav .btn-reservar:hover {
    background-color: #fff5e7;
    transition: background-color 0.3s ease;
    transform: translateX(-5px);
    transition: transform 0.3s ease;
}

nav .btn-reservar:active {
    background-color: #fff5e7c8;
}

main #contenido-principal {
    /*border: 10px solid red;*/
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 3rem;
    margin: 1rem 0;
}

main #contenido-principal .contenido-texto {
    /*border: 10px solid blue;*/
    font-size: 1.2rem;
    text-align: justify;
    padding: 1.5rem;
}

main #contenido-principal .contenido-texto h2 {
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
}

main #contenido-principal .contenido-texto p {
    line-height: 1.6rem;
    font-size: 1.3rem;
}

main #contenido-principal .contenido-texto .btn-verCarta {
    margin-top: 1.5rem;
    background-color: #393330;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 0.3s ease; /* Agrega una transición suave para el movimiento */
}

main #contenido-principal .contenido-texto .btn-verCarta:hover {
    transition: background-color 0.3s ease;
    background-color: #4A3B32;
    transform: translateX(5px);
    transition: transform 0.3s ease; 
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y cubra el área asignada */
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}


main #contenido-destacado {
    /*border: 10px solid rgb(0, 255, 247);*/
    padding: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

main #contenido-destacado .contenido-texto {
    /*border: 10px solid rgb(43, 129, 205);*/
    padding: 1rem;
    width: 70%;
}

main #contenido-destacado .contenido-texto h2 {
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
}

main #contenido-destacado .contenido-texto p {
    line-height: 2rem;
    font-size: 1.2rem;
}

main #contenido-destacado .caracteristicas {
    /*border: 10px solid purple;*/
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
    padding: 1rem;
}

main #contenido-destacado .caracteristicas .caracteristica {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff5e7c8;
    padding: 1.8rem;
    flex: 1; /* Permite que cada característica ocupe el mismo espacio disponible */
    transition: transform 0.3s ease; 
}

main #contenido-destacado .caracteristicas .caracteristica:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Agrega una sombra más pronunciada al hacer hover */
}

main #contenido-destacado .caracteristicas .caracteristica-imagen {
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y cubra el área asignada */
}

main #contenedor-testimonios {
    /*border: 10px solid rgb(255, 0, 0);*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin: 1rem 0;
}

main #contenedor-testimonios .contenido-texto {
    /*border: 10px solid rgb(0, 255, 0);*/
    padding: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.2rem;
    margin: auto;
}

main #contenedor-testimonios .contenido-texto h2 {
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

main #contenedor-testimonios .contenido-texto .calificacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

main #contenedor-testimonios .contenido-texto .btn-verResenas{
    margin-top: 1.5rem;
    background-color: #393330;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.3s ease; /* Agrega una transición suave para el movimiento */
}

main #contenedor-testimonios .contenido-texto .btn-verResenas:hover {
    transition: background-color 0.3s ease;
    background-color: #4A3B32;
    transform: translateY(-5px);
    transition: transform 0.3s ease; 
}

main #contenedor-testimonios .testimonios {
    /*border: 10px solid rgb(224, 57, 227);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem;
}

main #contenedor-testimonios .testimonio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: justify;
    gap: 1rem;
    border: none;
    background-color: #fff5e7c8;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 45%; /* Asegura que cada testimonio ocupe todo el ancho disponible dentro de su contenedor */
    justify-items: center; /* Centra el contenido dentro de cada testimonio */
    overflow: hidden;
}

main #contenedor-testimonios .testimonio .nombre-persona {
    font-weight: bold;
    font-size: 1.1rem;
}

main #contenedor-testimonios .testimonio p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin: auto;
}

main #contenedor-testimonios .testimonio .testimonio-imagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main #ubicacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*border: 10px solid rgb(255, 0, 255);*/
    padding: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.2rem;
    margin: 1rem 0;
}

main #ubicacion .contenido-texto {
    /*border: 10px solid rgb(0, 255, 255);*/
    padding: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-align: justify;
}

main #ubicacion .contenido-texto h2 {
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    gap : 1.5rem;
    align-items: center;
    /*border: 10px solid rgb(255, 255, 0);*/
    padding: 1rem;
}

main #ubicacion .contenido-texto p{
    /*border: #393330 10px solid;*/
    padding: 1rem;
}

main .separacion{
    border:none;
    border-top: 2px solid #bdae99;
    margin: 0 2rem;
}

footer {
    background-color: #393330;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer .footer-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.5rem 7rem;
}

footer .primer-contenido {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}


footer .redes-sociales {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

footer .redes-sociales a {
    color: #fff5e7c8;
    text-decoration: none;
    font-size: 1.3rem;
}
footer .redes-sociales a i {
    margin-right: 0.5rem;
    transition: color 0.3s ease;
}

footer .redes-sociales i:hover {
    color: #fff5e7;
    transition: color 0.3s ease;
}

footer .texto-oculto{
    display: none; /*Oculta el texto, pero sigue siendo accesible para lectores de pantalla*/
}

footer .informacion-contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

footer hr {
    margin: 1rem 0;
    border: none;
    border-top: 2px solid #fff5e7c8;
}

footer .copyright {
    font-size: 1rem;
    color: #ffffff;
    padding-bottom: 1rem;
}


main #presentacion-contenido{
    background-image: url("/assets/img/ImgFondoNosotros.jpeg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
}

main #presentacion-contenido .capa-oscura{
    background: rgba(55, 56, 57, 0.7);
    height: 100vh;   
    /*border: 10px solid crimson;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #presentacion-contenido .capa-oscura .contenido-capa{
    /*border: 10px solid rgb(47, 220, 20);*/
    text-align: center;
    color: #fff;
    line-height: 1.8rem;
    font-size: 1.8rem;
    padding: 30px;
}

main #presentacion-contenido .capa-oscura .contenido-capa h2{
    /*border: 10px solid rgb(38, 130, 23);*/
    margin-bottom: 1rem;
    padding: 10px;
}

main #presentacion-contenido .capa-oscura .contenido-capa .btn-reserva{
    border: 3px solid white;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 1rem;
    padding: 15px 40px;
    font-size: 1.1rem;
    background: none;
    color: #fff;
    cursor: pointer;
}

main #presentacion-contenido .capa-oscura .contenido-capa .btn-reserva:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: 0.3 ease;
}

main #historia{
    /*border: 10px solid cornflowerblue;*/
}

main #historia .contenido{
    /*border: 10px solid rgb(79, 110, 168);*/
    display: flex;
    gap: 10px;
}

main #historia .contenido .contenido-texto{
    /*border: 10px solid rgb(46, 64, 97);*/
    padding: 40px;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
main #historia .contenido .contenido-texto h2{
    /*border: 10px solid rgb(39, 217, 190);*/
    padding: 15px;
    margin-bottom: 10px;
    text-align: justify;
}

main #historia .contenido .contenido-texto p{
    /*border: 10px solid rgb(39, 217, 190);*/
    padding: 15px;
    margin-bottom: 10px;
    text-align: justify;
}

main #historia .contenido .imagen-historia{
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

main #objetivo-restaurante {
    /*border: 10px solid salmon;*/
    background-image: url("/assets/img/ImgObjetivos.jpeg");
    height: 120vh;
    background-size: cover;
    background-attachment: fixed;
    color: #f4f4f4;
}

main #objetivo-restaurante .capa-oscura{
    background: rgba(55, 56, 57, 0.7);
    height: 120vh;
    /*border: 10px solid rgb(130, 61, 54);*/
    justify-content: center;
    align-content: center;
}

main #objetivo-restaurante .capa-oscura h2{
    /*border: 10px solid forestgreen;*/
    text-align: center;
    align-content: center;
    font-size: 2rem;
    margin-bottom: 9rem;
}

main #objetivo-restaurante .contenido {
    /*border: 10px solid rgb(72, 53, 194);*/
    padding: 10px;
    margin: auto;
}

main #objetivo-restaurante .contenido p{
    /*border: 10px solid rgb(53, 194, 163);*/
    padding: 20px;
    line-height: 2rem;
}

main #objetivo-restaurante .contenido-grupo {
    /*border: 10px solid rgb(4, 242, 56);*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    font-size: 1.4rem;
    gap: 20x;
}

main #objetivo-restaurante .contenido:not(:last-child) {
    border-right: 2px solid rgba(255, 255, 255, 0.941); /* Línea blanca semi-transparente */
}

main #equipo-restaurante {
    /*border: 10px solid fuchsia;*/
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

main #equipo-restaurante hr {
    margin: 1rem 12rem;
    border: none;
    border-top: 2px solid #7b7265c8;
}

main #equipo-restaurante .contenido-texto {
    /*border: 10px solid rgb(25, 21, 137);*/
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 70%;
}

main #equipo-restaurante .contenido-texto h2{
    /*border: 10px solid rebeccapurple;*/
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 15px;
}
main #equipo-restaurante .contenido-texto h2 i{
    margin-right: 15px;
}

main #equipo-restaurante .contenido-texto p{
    /*border: 10px solid rgb(112, 153, 51);*/
    font-size: 1.4rem;
    padding: 15px;
    line-height: 2rem;
}

main #equipo-restaurante .presentacion-equipo {
    /*border: 10px solid rgb(255, 0, 30);*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

main #equipo-restaurante .presentacion-equipo .personal{
    width: 30%; /* Asegura que cada testimonio ocupe todo el ancho disponible dentro de su contenedor */
    padding: 20px; 
    text-align: center;
    gap: 1rem;
    border: none;
    background-color: #fff5e7c8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-items: center; /* Centra el contenido dentro de cada testimonio */
    overflow: hidden;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

main #equipo-restaurante .presentacion-equipo .personal:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}


main #equipo-restaurante .presentacion-equipo .personal .personal-imagen{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

main #equipo-restaurante .presentacion-equipo .personal ul{
    font-size: 1.1rem;
    line-height: 1.5rem;
    list-style: none;
}

main #equipo-restaurante .presentacion-equipo .personal ul li{
    padding: 5px 0;
}

main #mapa-restaurante {
    height: 80vh;
}

main #mapa-restaurante .mapa iframe{
    height: 80vh;
}


/*ESTILOS DE LA CARTA.HTML*/
main #carta-contenido {
    /*border: 10px solid blue;*/
    background-image: url("/assets/img/ImgFondoCarta.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    text-align: center;
}

main #carta-contenido .capa-oscura{
    /*border: 10px solid rgb(0, 255, 221);*/
    height: 100vh;
    background: rgba(55, 56, 57, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #carta-contenido .capa-oscura .contenido{
    /*border: 10px solid rebeccapurple;*/
    padding: 30px;
    width: 60%;
    font-size: 1.8rem;
}

main #carta-contenido .capa-oscura .contenido h2{
    margin-bottom: 1rem;
}

main #carta-contenido .capa-oscura .contenido p {
    line-height: 2.5rem;
}

main #carta-contenido .capa-oscura .contenido #btn-verCarta{
    border: 3px solid white;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 1rem;
    padding: 15px 40px;
    font-size: 1.1rem;
    background: none;
    color: #fff;
    cursor: pointer;
}

main #carta-contenido .capa-oscura .contenido #btn-verCarta:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: 0.3 ease;
}

main #entradas-carta {
    /*border: 10px solid forestgreen;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

main #entradas-carta .presentacion{
    /*border: 10px solid aqua;*/
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

main #entradas-carta .platos-grid-layout{
    /*border: 10px solid rgb(6, 240, 29);*/
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    justify-content: center;
}

main #entradas-carta .platos-grid-layout .plato-tarjeta{
    border: none;
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: calc(33.33% - 20px);
    color: white;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
}

main #entradas-carta .platos-grid-layout .plato-tarjeta .contenido-capa{
    border: none;
    background: rgba(55, 56, 57, 0.85); /* Color gris oscuro con opacidad */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 1.8rem;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    opacity: 0; 
    transition: opacity 0.4s ease;
}

main #entradas-carta .platos-grid-layout .plato-tarjeta .contenido-capa:hover{
    opacity: 1;
}

.separacion-carta{
    border: none;
    border-top: 3px solid rgb(169, 143, 104);
    margin: 10px 5rem;

}

.entrada-1 {
    background-image: url("/assets/img/ImgPlatoEntrada1.jpeg"); 
}
.entrada-2 {
    background-image: url("/assets/img/ImgPlatoEntrada2.jpeg"); 
}
.entrada-3 {
    background-image: url("/assets/img/ImgPlatoEntrada3.jpeg"); 
}
.entrada-4 {
    background-image: url("/assets/img/ImgPlatoEntrada4.jpeg"); 
} 
.entrada-5 {
    background-image: url("/assets/img/ImgPlatoEntrada5.jpeg"); 
}


/*CORTES*/
.corte-1 {
    background-image: url("/assets/img/ImgPlatoCorte1.jpeg"); 
}
.corte-2 {
    background-image: url("/assets/img/ImgPlatoCorte2.jpeg");
}
.corte-3 {
    background-image: url("/assets/img/ImgPlatoCorte3.jpeg"); 
}
.corte-4 {
    background-image: url("/assets/img/ImgPlatoCorte4.jpeg"); 
}
.corte-5 {
    background-image: url("/assets/img/ImgPlatoCorte5.jpeg"); 
}
.corte-6 {
    background-image: url("/assets/img/ImgPlatoCorte6.jpeg"); 
}
.corte-7 {
    background-image: url("/assets/img/ImgPlatoCorte7.jpeg"); 
}
.corte-8 {
    background-image: url("/assets/img/ImgPlatoCorte8.jpeg"); 
}


/*GUARNICIONES*/
.guarnicion-1 {
    background-image: url("/assets/img/ImgPlatoGuarnicion1.jpeg"); 
}
.guarnicion-2 {
    background-image: url("/assets/img/ImgPlatoGuarnicion2.jpeg");
}
.guarnicion-3 {
    background-image: url("/assets/img/ImgPlatoGuarnicion3.jpeg"); 
}
.guarnicion-4 {
    background-image: url("/assets/img/ImgPlatoGuarnicion4.jpeg"); 
}
.guarnicion-5 {
    background-image: url("/assets/img/ImgPlatoGuarnicion5.jpeg"); 
}
.guarnicion-6 {
    background-image: url("/assets/img/ImgPlatoGuarnicion6.jpeg"); 
} 


/*POSTRES*/
.postre-1 {
    background-image: url("/assets/img/ImgPlatoPostre1.jpeg"); 
}
.postre-2 {
    background-image: url("/assets/img/ImgPlatoPostre2.jpeg");
}
.postre-3 {
    background-image: url("/assets/img/ImgPlatoPostre3.jpeg"); 
}
.postre-4 {
    background-image: url("/assets/img/ImgPlatoPostre4.jpeg"); 
}
.postre-5 {
    background-image: url("/assets/img/ImgPlatoPostre5.jpeg");  
}


/*BEBIDAS*/
.bebida-1 {
    background-image: url("/assets/img/ImgBebida1.jpeg"); 
}
.bebida-2 {
    background-image: url("/assets/img/ImgBebida2.jpeg");
}
.bebida-3 {
    background-image: url("/assets/img/ImgBebida3.jpeg"); 
}
.bebida-4 {
    background-image: url("/assets/img/ImgBebida4.jpeg"); 
}
.bebida-5 {
    background-image: url("/assets/img/ImgBebida5.jpeg");  
}



/*ESTILOS DE CONTACTO.HTML*/
main #contacto-presentacion {
    /*border: 10px solid blue;*/
    background-image: url("/assets/img/ImgFondoContacto.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    text-align: center;
}

main #contacto-presentacion .capa-oscura{
   /* border: 10px solid rgb(0, 255, 221);*/
    height: 100vh;
    background: rgba(55, 56, 57, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #contacto-presentacion .capa-oscura .contenido-capa{
    /*border: 10px solid rebeccapurple;*/
    padding: 30px;
    width: 60%;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

main #contacto-presentacion .capa-oscura .contenido-capa h2{
    margin-bottom: 1rem;
}

main #contacto-presentacion .capa-oscura .contenido-capa .btn-contacto{
    border: 3px solid white;
    border-radius: 40px;
    margin-top:20px;
    margin-bottom: 1rem;
    padding: 15px 40px;
    font-size: 1.1rem;
    background: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

main #contacto-presentacion .capa-oscura .contenido-capa .btn-contacto:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: 0.3s ease;
}

main #apartado-formulario{
    /*border: 10px solid #ce4b09;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 50px;
}

main #apartado-formulario .tarjeta-complemento{
    border: none;
    width: 30%;
    align-content: center;
    text-align: center;
    line-height: 1.8rem;
    background-color: #fff5e7c8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 20px;
}

main #apartado-formulario .tarjeta-complemento h3{
    margin-bottom: 15px;
    font-size: 20px;
}

main #apartado-formulario .tarjeta-complemento p{
    /*border: 10px solid royalblue;*/
    padding: 0 30px;
    font-size: 18px;
}

main #apartado-formulario .tarjeta-complemento .contacto-lista, .horarios-lista{
    list-style: none;
    text-decoration: underline;
    text-underline-offset: 7px;
    margin: 10px;
    /*border: 10px solid red;*/
}

main #apartado-formulario #formulario-contacto{
    /*border: 10px solid rgb(37, 236, 140);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    background-color: #fff5e7c8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
}


main #apartado-formulario #formulario-contacto h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

main #apartado-formulario #formulario-contacto label{
    font-size: 18px;
    font-weight: bold;
}

main #apartado-formulario #formulario-contacto input, main #apartado-formulario #formulario-contacto textarea{
    border: 2px solid #7b7265c8;
    border-radius: 5px;
    padding: 10px;
    font-size:16px;
    margin-bottom: 10px;
}

main #apartado-formulario #formulario-contacto button[type="submit"]{
    background-color:#393330;
    color: #fff;
    border:none;
    border-radius: 7px;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    width: 50%;
    align-self: center;
}

main #apartado-formulario #formulario-contacto button[type="submit"]:hover{
    background-color: #4A3B32;
    transition: all 0.3s ease; 
}




/*ESTILOS BLOG.HTML*/
/*ESTILOS DE CONTACTO.HTML*/
main #blog-presentacion {
    /*border: 10px solid blue;*/
    background-image: url("/assets/img/ImgBlogPresentacion.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    text-align: center;
}

main #blog-presentacion .capa-oscura{
   /* border: 10px solid rgb(0, 255, 221);*/
    height: 100vh;
    background: rgba(55, 56, 57, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #blog-presentacion .capa-oscura .contenido-capa{
    /*border: 10px solid rebeccapurple;*/
    padding: 30px;
    width: 60%;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

main #blog-presentacion .capa-oscura .contenido-capa h2{
    margin-bottom: 1rem;
}

main #blog-presentacion .capa-oscura .contenido-capa .btn-blog{
    border: 3px solid white;
    border-radius: 40px;
    margin-top:20px;
    margin-bottom: 1rem;
    padding: 15px 40px;
    font-size: 1.1rem;
    background: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

main #blog-presentacion .capa-oscura .contenido-capa .btn-blog:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: 0.3s ease;
}

main #blog-contenido{
    /*border: 10px solid darkblue;*/
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

main #blog-contenido .tarjeta-presentacion{
    /*border: 10px solid fuchsia;*/
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

main #blog-contenido .tarjetas-blog{
    /*border: 10px solid turquoise;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
    text-align: justify;
}

main #blog-contenido .tarjetas-blog .tarjeta-blog{
    /*border: 10px solid red;*/
    background-color: #fff5e7c8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

main #blog-contenido .tarjetas-blog .tarjeta-blog .img-blog{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

main #blog-contenido .tarjetas-blog .tarjeta-blog h3{
    margin-bottom: 10px;
}

main #blog-contenido .tarjetas-blog .tarjeta-blog p{
    line-height: 1.8rem;
    flex-grow: 1; /*Permite que el parrafo ocupe el espacio disponible dentro de la tarjeta, empujando el boton hacia abajo*/
}

main #blog-contenido .tarjetas-blog .tarjeta-blog .btn-leer-mas{
    margin:auto;
    background-color: #393330;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

main #blog-contenido .tarjetas-blog .tarjeta-blog .btn-leer-mas:hover{
    background-color: #4A3B32;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

main #blog-suscripcion{
    /*border: 10px solid hotpink;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main #blog-suscripcion .tarjeta-suscripcion{
    background-color: #fff5e7c8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;
    text-align: center;
}

main #blog-suscripcion .tarjeta-suscripcion h2 {
    margin-bottom: 15px;
}

main #blog-suscripcion .tarjeta-suscripcion p{
    line-height: 1.8rem;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

main #blog-suscripcion .tarjeta-suscripcion form{
    display: flex;
    justify-content: center;
    gap: 20px;
}

main #blog-suscripcion .tarjeta-suscripcion form input[type="email"], [type="text"]{
    padding: 10px;
    border: 2px solid #7b7265c8;
    border-radius: 5px;
    font-size: 16px;
}

main #blog-suscripcion .tarjeta-suscripcion form .btn-suscripcion{
    background-color: #393330;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

main #blog-suscripcion .tarjeta-suscripcion form .btn-suscripcion:hover{
    background-color: #4A3B32;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

