* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-exito-fondo: #1e291b;
    --color-exito-borde: #4caf50;
    --color-error-fondo: #2c1616;
    --color-error-borde: #e53935;
    --color-advertencia-fondo: #2d2214;
    --color-advertencia-borde: #ffb300;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F7F4EF;
    color: #4A3B32;
}


nav {
    background-color: #393330;
    color: #fff;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 3%;
    justify-content: space-around;
    width: 100%; /* Asegura que el nav ocupe todo el ancho de la página */
    margin: 0 auto;
}

nav .menu-hamburguesa{
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff9e0ef;
    font-family: 'Spicy Rice', cursive;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 7px; /*Especiado entre el subrayado y el enlace*/
}

nav .btn-reservar {
    background-color: #fff5e7c8;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 7px;
    color: #4A3B32;
    font-weight: bold;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

nav .btn-reservar:hover {
    background-color: #fff5e7;
    transition: background-color 0.3s ease;
    transform: translateX(-5px);
    transition: transform 0.3s ease;
}

nav .btn-reservar:active {
    background-color: #fff5e7c8;
}

main #contenido-principal {
    /*border: 10px solid red;*/
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 3rem;
    margin: 1rem 0;
}

main #contenido-principal .contenido-texto {
    /*border: 10px solid blue;*/
    font-size: 1.2rem;
    text-align: justify;
    padding: 1.5rem;
}

main #contenido-principal .contenido-texto h2 {
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
}

main #contenido-principal .contenido-texto p {
    line-height: 1.6rem;
    font-size: 1.3rem;
}

main #contenido-principal .contenido-texto .btn-verCarta {
    margin-top: 1.5rem;
    background-color: #393330;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 0.3s ease; /* Agrega una transición suave para el movimiento */
}

main #contenido-principal .contenido-texto .btn-verCarta:hover {
    transition: background-color 0.3s ease;
    background-color: #4A3B32;
    transform: translateX(5px);
    transition: transform 0.3s ease; 
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y cubra el área asignada */
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}


main #contenido-destacado {
    /*border: 10px solid rgb(0, 255, 247);*/
    padding: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

main #contenido-destacado .contenido-texto {
    /*border: 10px solid rgb(43, 129, 205);*/
    padding: 1rem;
    width: 70%;
}

main #contenido-destacado .contenido-texto h2 {
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
}

main #contenido-destacado .contenido-texto p {
    line-height: 2rem;
    font-size: 1.2rem;
}

main #contenido-destacado .caracteristicas {
    /*border: 10px solid purple;*/
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
    padding: 1rem;
}

main #contenido-destacado .caracteristicas .caracteristica {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff5e7c8;
    padding: 1.8rem;
    flex: 1; /* Permite que cada característica ocupe el mismo espacio disponible */
    transition: transform 0.3s ease; 
}

main #contenido-destacado .caracteristicas .caracteristica:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Agrega una sombra más pronunciada al hacer hover */
}

main #contenido-destacado .caracteristicas .caracteristica-imagen {
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y cubra el área asignada */
}

main #contenedor-testimonios {
    /*border: 10px solid rgb(255, 0, 0);*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin: 1rem 0;
}

main #contenedor-testimonios .contenido-texto {
    /*border: 10px solid rgb(0, 255, 0);*/
    padding: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.2rem;
    margin: auto;
}

main #contenedor-testimonios .contenido-texto h2 {
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

main #contenedor-testimonios .contenido-texto .calificacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

main #contenedor-testimonios .contenido-texto .btn-verResenas{
    margin-top: 1.5rem;
    background-color: #393330;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.3s ease; /* Agrega una transición suave para el movimiento */
}

main #contenedor-testimonios .contenido-texto .btn-verResenas:hover {
    transition: background-color 0.3s ease;
    background-color: #4A3B32;
    transform: translateY(-5px);
    transition: transform 0.3s ease; 
}

main #contenedor-testimonios .testimonios {
    /*border: 10px solid rgb(224, 57, 227);*/
    display: grid;
    /* Define columnas que se adaptan solas con un tamaño mínimo y máximo ↔️ */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    width: 100%;
    justify-content: center;
    padding: 1.5rem;
}

main #contenedor-testimonios .testimonio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: justify;
    gap: 1rem;
    border: none;
    background-color: #fff5e7c8;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegura que cada testimonio ocupe todo el ancho disponible dentro de su contenedor */
    justify-items: center; /* Centra el contenido dentro de cada testimonio */
    overflow: hidden;
}

main #contenedor-testimonios .testimonio .nombre-persona {
    font-weight: bold;
    font-size: 1.1rem;
}

main #contenedor-testimonios .testimonio p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin: auto;
}

main #contenedor-testimonios .testimonio .testimonio-imagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main #ubicacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*border: 10px solid rgb(255, 0, 255);*/
    padding: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.2rem;
    margin: 1rem 0;
}

main #ubicacion .contenido-texto {
    /*border: 10px solid rgb(0, 255, 255);*/
    padding: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-align: justify;
}

main #ubicacion .contenido-texto h2 {
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    gap : 1.5rem;
    align-items: center;
    /*border: 10px solid rgb(255, 255, 0);*/
    padding: 1rem;
}

main #ubicacion .contenido-texto p{
    /*border: #393330 10px solid;*/
    padding: 1rem;
}

main .separacion{
    border:none;
    border-top: 2px solid #bdae99;
    margin: 0 2rem;
}

.modal-oscuro {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-oscuro .modal{
    background-color: #bdae99;
    padding: 20px;
    border-radius: 10px;
    /*border: 10px solid red;*/
    width: 35%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    animation: aparecer 0.5s ease;
}


.modal-oscuro .modal input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 100%;
}


.modal-oscuro .modal #modal-formulario-reserva #btn-cerrar-modal-reserva {
    text-align: right;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.2s ease;
}

#btn-cerrar-modal-reserva:hover {
    color: #d9534f; /* Cambia a un rojo de advertencia suave */
    transition: all 0.2s ease; /* Hace que el cambio sea suave */
}


.modal-oscuro .modal #modal-formulario-reserva {
    /*border: 10px solid aqua;*/
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-oscuro .modal  #modal-formulario-reserva .campo {
    /*border: 10px solid green;*/
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-oscuro .modal  #modal-formulario-reserva .campo label{
    font-weight: bold;
}

.modal-oscuro .modal  #modal-formulario-reserva .campo-botones {
    /*border: 10px solid rebeccapurple;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-oscuro .modal .campo-botones button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #fff5e7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.modal-oscuro .modal .campo-botones button:hover {
    background-color: #ece9e4;
    transition: 0.3s ease;
    cursor: pointer;
}

.modal-oscuro .modal h2{
    text-align: center;
}

@keyframes aparecer {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

footer {
    background-color: #393330;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer .footer-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.5rem 7rem;
}

footer .primer-contenido {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}


footer .redes-sociales {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

footer .redes-sociales a {
    color: #fff5e7c8;
    text-decoration: none;
    font-size: 1.3rem;
}
footer .redes-sociales a i {
    margin-right: 0.5rem;
    transition: color 0.3s ease;
}

footer .redes-sociales i:hover {
    color: #fff5e7;
    transition: color 0.3s ease;
}

footer .texto-oculto{
    display: none; /*Oculta el texto, pero sigue siendo accesible para lectores de pantalla*/
}

footer .informacion-contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

footer hr {
    margin: 1rem 0;
    border: none;
    border-top: 2px solid #fff5e7c8;
}

footer .copyright {
    font-size: 1rem;
    color: #ffffff;
    padding-bottom: 1rem;
}


main #presentacion-contenido{
    background-image: url("/assets/img/ImgFondoNosotros.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
}

main #presentacion-contenido .capa-oscura{
    background: rgba(55, 56, 57, 0.7);
    height: 100vh;   
    /*border: 10px solid crimson;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #presentacion-contenido .capa-oscura .contenido-capa{
    /*border: 10px solid rgb(47, 220, 20);*/
    text-align: center;
    color: #fff;
    line-height: 1.8rem;
    font-size: 1.8rem;
    padding: 30px;
}

main #presentacion-contenido .capa-oscura .contenido-capa h2{
    /*border: 10px solid rgb(38, 130, 23);*/
    margin-bottom: 1rem;
    padding: 10px;
    line-height: 3rem;
}

main #presentacion-contenido .capa-oscura .contenido-capa .btn-reserva{
    border: 3px solid white;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 1rem;
    padding: 15px 40px;
    font-size: 1.1rem;
    background: none;
    color: #fff;
    cursor: pointer;
}

main #presentacion-contenido .capa-oscura .contenido-capa .btn-reserva:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: 0.3 ease;
}

main #historia .contenido{
    /*border: 10px solid rgb(79, 110, 168);*/
    display: flex;
    gap: 10px;
}

main #historia .contenido .contenido-texto{
    /*border: 10px solid rgb(46, 64, 97);*/
    padding: 40px;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
main #historia .contenido .contenido-texto h2{
    /*border: 10px solid rgb(39, 217, 190);*/
    padding: 15px;
    margin-bottom: 10px;
    text-align: justify;
}

main #historia .contenido .contenido-texto p{
    /*border: 10px solid rgb(39, 217, 190);*/
    padding: 15px;
    margin-bottom: 10px;
    text-align: justify;
}

main #historia .contenido .imagen-historia{
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

main #objetivo-restaurante {
    /*border: 10px solid salmon;*/
    background-image: url("/assets/img/ImgObjetivos.jpeg");
    height: 120vh;
    background-size: cover;
    background-attachment: fixed;
    color: #f4f4f4;
}

main #objetivo-restaurante .capa-oscura{
    background: rgba(55, 56, 57, 0.7);
    height: 120vh;
    /*border: 10px solid rgb(130, 61, 54);*/
    justify-content: center;
    align-content: center;
}

main #objetivo-restaurante .capa-oscura h2{
    /*border: 10px solid forestgreen;*/
    text-align: center;
    align-content: center;
    font-size: 2rem;
    margin-bottom: 9rem;
}

main #objetivo-restaurante .contenido {
    /*border: 10px solid rgb(72, 53, 194);*/
    padding: 10px;
    margin: auto;
}

main #objetivo-restaurante .contenido p{
    /*border: 10px solid rgb(53, 194, 163);*/
    padding: 20px;
    line-height: 2rem;
}

main #objetivo-restaurante .contenido-grupo {
    /*border: 10px solid rgb(4, 242, 56);*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    font-size: 1.4rem;
    gap: 20x;
}

main #objetivo-restaurante .contenido:not(:last-child) {
    border-right: 2px solid rgba(255, 255, 255, 0.941); /* Línea blanca semi-transparente */
}

main #equipo-restaurante {
    /*border: 10px solid fuchsia;*/
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

main #equipo-restaurante hr {
    margin: 1rem 12rem;
    border: none;
    border-top: 2px solid #7b7265c8;
}

main #equipo-restaurante .contenido-texto {
    /*border: 10px solid rgb(25, 21, 137);*/
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 70%;
}

main #equipo-restaurante .contenido-texto h2{
    /*border: 10px solid rebeccapurple;*/
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 15px;
}
main #equipo-restaurante .contenido-texto h2 i{
    margin-right: 15px;
}

main #equipo-restaurante .contenido-texto p{
    /*border: 10px solid rgb(112, 153, 51);*/
    font-size: 1.4rem;
    padding: 15px;
    line-height: 2rem;
}

main #equipo-restaurante .presentacion-equipo {
    /*border: 10px solid rgb(255, 0, 30);*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

main #equipo-restaurante .presentacion-equipo .personal{
    width: 30%; /* Asegura que cada testimonio ocupe todo el ancho disponible dentro de su contenedor */
    padding: 20px; 
    text-align: center;
    gap: 1rem;
    border: none;
    background-color: #fff5e7c8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-items: center; /* Centra el contenido dentro de cada testimonio */
    overflow: hidden;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

main #equipo-restaurante .presentacion-equipo .personal:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}


main #equipo-restaurante .presentacion-equipo .personal .personal-imagen{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

main #equipo-restaurante .presentacion-equipo .personal ul{
    font-size: 1.1rem;
    line-height: 1.5rem;
    list-style: none;
}

main #equipo-restaurante .presentacion-equipo .personal ul li{
    padding: 5px 0;
}

main #mapa-restaurante {
    height: 80vh;
}

main #mapa-restaurante .mapa iframe{
    height: 80vh;
}


/*ESTILOS DE LA CARTA.HTML*/
main #carta-contenido {
    /*border: 10px solid blue;*/
    background-image: url("/assets/img/ImgFondoCarta.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    text-align: center;
}

main #carta-contenido .capa-oscura{
    /*border: 10px solid rgb(0, 255, 221);*/
    height: 100vh;
    background: rgba(55, 56, 57, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #carta-contenido .capa-oscura .contenido{
    /*border: 10px solid rebeccapurple;*/
    padding: 30px;
    width: 60%;
    font-size: 1.8rem;
}

main #carta-contenido .capa-oscura .contenido h2{
    margin-bottom: 1rem;
}

main #carta-contenido .capa-oscura .contenido p {
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

main #carta-contenido .capa-oscura .contenido #btn-verCarta{
    border: 3px solid white;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 1rem;
    padding: 15px 40px;
    font-size: 1.1rem;
    background: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

main #carta-contenido .capa-oscura .contenido #btn-verCarta:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: 0.3 ease;
}

main #entradas-carta {
    /*border: 10px solid forestgreen;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

main #entradas-carta .presentacion{
    /*border: 10px solid aqua;*/
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

main #entradas-carta .platos-grid-layout{
    /*border: 10px solid rgb(6, 240, 29);*/
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    justify-content: center;
}

main #entradas-carta .platos-grid-layout .plato-tarjeta{
    border: none;
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: calc(33.33% - 20px);
    color: white;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
}

main #entradas-carta .platos-grid-layout .plato-tarjeta .contenido-capa{
    border: none;
    background: rgba(55, 56, 57, 0.85); /* Color gris oscuro con opacidad */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 1.8rem;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    opacity: 0; 
    transition: opacity 0.4s ease;
}

main #entradas-carta .platos-grid-layout .plato-tarjeta .contenido-capa:hover{
    opacity: 1;
}

.separacion-carta{
    border: none;
    border-top: 3px solid rgb(169, 143, 104);
    margin: 10px 5rem;

}

.entrada-1 {
    background-image: url("/assets/img/ImgPlatoEntrada1.jpeg"); 
}
.entrada-2 {
    background-image: url("/assets/img/ImgPlatoEntrada2.jpeg"); 
}
.entrada-3 {
    background-image: url("/assets/img/ImgPlatoEntrada3.jpeg"); 
}
.entrada-4 {
    background-image: url("/assets/img/ImgPlatoEntrada4.jpeg"); 
} 
.entrada-5 {
    background-image: url("/assets/img/ImgPlatoEntrada5.jpeg"); 
}


/*CORTES*/
.corte-1 {
    background-image: url("/assets/img/ImgPlatoCorte1.jpeg"); 
}
.corte-2 {
    background-image: url("/assets/img/ImgPlatoCorte2.jpeg");
}
.corte-3 {
    background-image: url("/assets/img/ImgPlatoCorte3.jpeg"); 
}
.corte-4 {
    background-image: url("/assets/img/ImgPlatoCorte4.jpeg"); 
}
.corte-5 {
    background-image: url("/assets/img/ImgPlatoCorte5.jpeg"); 
}
.corte-6 {
    background-image: url("/assets/img/ImgPlatoCorte6.jpeg"); 
}
.corte-7 {
    background-image: url("/assets/img/ImgPlatoCorte7.jpeg"); 
}
.corte-8 {
    background-image: url("/assets/img/ImgPlatoCorte8.jpeg"); 
}


/*GUARNICIONES*/
.guarnicion-1 {
    background-image: url("/assets/img/ImgPlatoGuarnicion1.jpeg"); 
}
.guarnicion-2 {
    background-image: url("/assets/img/ImgPlatoGuarnicion2.jpeg");
}
.guarnicion-3 {
    background-image: url("/assets/img/ImgPlatoGuarnicion3.jpeg"); 
}
.guarnicion-4 {
    background-image: url("/assets/img/ImgPlatoGuarnicion4.jpeg"); 
}
.guarnicion-5 {
    background-image: url("/assets/img/ImgPlatoGuarnicion5.jpeg"); 
}
.guarnicion-6 {
    background-image: url("/assets/img/ImgPlatoGuarnicion6.jpeg"); 
} 


/*POSTRES*/
.postre-1 {
    background-image: url("/assets/img/ImgPlatoPostre1.jpeg"); 
}
.postre-2 {
    background-image: url("/assets/img/ImgPlatoPostre2.jpeg");
}
.postre-3 {
    background-image: url("/assets/img/ImgPlatoPostre3.jpeg"); 
}
.postre-4 {
    background-image: url("/assets/img/ImgPlatoPostre4.jpeg"); 
}
.postre-5 {
    background-image: url("/assets/img/ImgPlatoPostre5.jpeg");  
}


/*BEBIDAS*/
.bebida-1 {
    background-image: url("/assets/img/ImgBebida1.jpeg"); 
}
.bebida-2 {
    background-image: url("/assets/img/ImgBebida2.jpeg");
}
.bebida-3 {
    background-image: url("/assets/img/ImgBebida3.jpeg"); 
}
.bebida-4 {
    background-image: url("/assets/img/ImgBebida4.jpeg"); 
}
.bebida-5 {
    background-image: url("/assets/img/ImgBebida5.jpeg");  
}



/*ESTILOS DE CONTACTO.HTML*/
main #contacto-presentacion {
    /*border: 10px solid blue;*/
    background-image: url("/assets/img/ImgFondoContacto.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    text-align: center;
}

main #contacto-presentacion .capa-oscura{
   /* border: 10px solid rgb(0, 255, 221);*/
    height: 100vh;
    background: rgba(55, 56, 57, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #contacto-presentacion .capa-oscura .contenido-capa{
    /*border: 10px solid rebeccapurple;*/
    padding: 30px;
    width: 60%;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

main #contacto-presentacion .capa-oscura .contenido-capa h2{
    margin-bottom: 1rem;
}

main #contacto-presentacion .capa-oscura .contenido-capa p{
    margin-bottom: 1rem;
}


main #contacto-presentacion .capa-oscura .contenido-capa .btn-contacto{
    border: 3px solid white;
    border-radius: 40px;
    margin-top:20px;
    margin-bottom: 1rem;
    padding: 15px 40px;
    font-size: 1.1rem;
    background: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

main #contacto-presentacion .capa-oscura .contenido-capa .btn-contacto:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: 0.3s ease;
}

main #apartado-formulario{
    /*border: 10px solid #ce4b09;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 50px;
}

main #apartado-formulario .tarjeta-complemento{
    border: none;
    width: 30%;
    align-content: center;
    text-align: center;
    line-height: 1.8rem;
    background-color: #fff5e7c8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 20px;
}

main #apartado-formulario .tarjeta-complemento h3{
    margin-bottom: 15px;
    font-size: 20px;
}

main #apartado-formulario .tarjeta-complemento p{
    /*border: 10px solid royalblue;*/
    padding: 0 30px;
    font-size: 18px;
}

main #apartado-formulario .tarjeta-complemento .contacto-lista, .horarios-lista{
    list-style: none;
    text-decoration: underline;
    text-underline-offset: 7px;
    margin: 10px;
    /*border: 10px solid red;*/
}

main #apartado-formulario #formulario-contacto{
    /*border: 10px solid rgb(37, 236, 140);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    background-color: #fff5e7c8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
}


main #apartado-formulario #formulario-contacto h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

main #apartado-formulario #formulario-contacto label{
    font-size: 18px;
    font-weight: bold;
}

main #apartado-formulario #formulario-contacto input, main #apartado-formulario #formulario-contacto textarea{
    border: 2px solid #7b7265c8;
    border-radius: 5px;
    padding: 10px;
    font-size:16px;
    margin-bottom: 10px;
}

main #apartado-formulario #formulario-contacto button[type="submit"]{
    background-color:#393330;
    color: #fff;
    border:none;
    border-radius: 7px;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    width: 50%;
    align-self: center;
}

main #apartado-formulario #formulario-contacto button[type="submit"]:hover{
    background-color: #4A3B32;
    transition: all 0.3s ease; 
}




/*ESTILOS BLOG.HTML*/
main #blog-presentacion {
    /*border: 10px solid blue;*/
    background-image: url("/assets/img/ImgBlogPresentacion.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    text-align: center;
}

main #blog-presentacion .capa-oscura{
   /* border: 10px solid rgb(0, 255, 221);*/
    height: 100vh;
    background: rgba(55, 56, 57, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #blog-presentacion .capa-oscura .contenido-capa{
    /*border: 10px solid rebeccapurple;*/
    padding: 30px;
    width: 60%;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

main #blog-presentacion .capa-oscura .contenido-capa h2{
    margin-bottom: 1rem;
}

main #blog-presentacion .capa-oscura .contenido-capa p{
    margin-bottom: 1rem;
}

main #blog-presentacion .capa-oscura .contenido-capa .btn-blog{
    border: 3px solid white;
    border-radius: 40px;
    margin-top:20px;
    margin-bottom: 1rem;
    padding: 15px 40px;
    font-size: 1.1rem;
    background: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

main #blog-presentacion .capa-oscura .contenido-capa .btn-blog:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: 0.3s ease;
}

main #blog-contenido{
    /*border: 10px solid darkblue;*/
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

main #blog-contenido .tarjeta-presentacion{
    /*border: 10px solid fuchsia;*/
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

main #blog-contenido .tarjetas-blog{
    /*border: 10px solid turquoise;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
    text-align: justify;
}

main #blog-contenido .tarjetas-blog .tarjeta-blog{
    /*border: 10px solid red;*/
    background-color: #fff5e7c8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

main #blog-contenido .tarjetas-blog .tarjeta-blog .img-blog{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

main #blog-contenido .tarjetas-blog .tarjeta-blog h3{
    margin-bottom: 10px;
}

main #blog-contenido .tarjetas-blog .tarjeta-blog p{
    line-height: 1.8rem;
    flex-grow: 1; /*Permite que el parrafo ocupe el espacio disponible dentro de la tarjeta, empujando el boton hacia abajo*/
}

main #blog-contenido .tarjetas-blog .tarjeta-blog .btn-leer-mas{
    margin:auto;
    background-color: #393330;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

main #blog-contenido .tarjetas-blog .tarjeta-blog .btn-leer-mas:hover{
    background-color: #4A3B32;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

main #blog-suscripcion{
    /*border: 10px solid hotpink;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main #blog-suscripcion .tarjeta-suscripcion{
    background-color: #fff5e7c8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;
    text-align: center;
}

main #blog-suscripcion .tarjeta-suscripcion h2 {
    margin-bottom: 15px;
}

main #blog-suscripcion .tarjeta-suscripcion p{
    line-height: 1.8rem;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

main #blog-suscripcion .tarjeta-suscripcion form{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

main #blog-suscripcion .tarjeta-suscripcion form input[type="email"], [type="text"]{
    padding: 10px;
    border: 2px solid #7b7265c8;
    border-radius: 5px;
    font-size: 16px;
    max-width: 100%; /* Evita que el input sea más grande que la pantalla */
}

main #blog-suscripcion .tarjeta-suscripcion form .btn-suscripcion{
    background-color: #393330;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

main #blog-suscripcion .tarjeta-suscripcion form .btn-suscripcion:hover{
    background-color: #4A3B32;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}




/*DISEÑO DE LOS TOASTS*/
@keyframes deslizarEntrada {
    0% {
        transform: translateX(120%);
    } 100% {
        transform: translateX(0);
    }
}

@keyframes deslizarSalida {
    0% {
        transform: translateX(0);
    } 100% {
        transform: translateX(120%);
    }
}

#contenedor-toast{
    /*border: 10px solid red;*/
    position: fixed;
    top: 10%;
    right: 0px;
    padding: 15px;
    border-radius: 15px;
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);*/
}

#contenedor-toast .toast {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    min-width: 250px;
    animation: deslizarEntrada 0.5s ease-in;
}

#contenedor-toast .toast.toast-error{
    background-color: var(--color-error-fondo);
    border-left: 5px solid var(--color-error-borde);
}

#contenedor-toast .toast.toast-exito{
    background-color: var(--color-exito-fondo);
    border-left: 5px solid var(--color-exito-borde);
}

#contenedor-toast .toast.toast-advertencia{
    background-color: var(--color-advertencia-fondo);
    border-left: 5px solid var(--color-advertencia-borde);
}

#contenedor-toast .toast.toast-salida {
    animation: deslizarSalida 0.5s ease-in;
    animation-fill-mode: forwards; /*congela el elemento en su último fotograma cuando la animación termina.*/
}


/*DISEÑO RESPONSIVO DE LOS TOASTS*/
@media (max-width: 768px){
    #contenedor-toast {
        right: 0;
        width: 80%;
        padding: 0 20px;
    }
}


/*DISEÑO RESPONSIVO HOME.HTML*/



@media (max-width: 768px){

    /*DISEÑO RESPONSIVO GENERAL*/
    header nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    header nav .logo {
        order: 2;
    }

    header nav .btn-reservar {
        order: 3;
    }

    header nav ul {
        display: none;        
        flex-direction: column; 
        gap: 1.2rem;
        width: 100%;        
        text-align: center;
        padding: 20px 0 10px 0;
        margin: 0;
    }

    header nav.activo ul {
        display: flex;
    }

    header nav.activo .menu-hamburguesa .icono-abrir {
        display: none;
    }

    header nav.activo .menu-hamburguesa .icono-cerrar {
        display: block;
    }

    header nav .menu-hamburguesa{
        display: block;
        cursor: pointer;
    }

    header nav .menu-hamburguesa .icono-cerrar{
        display: none;
    }

    nav ul li {
        margin: 0;
    }

    main #contenido-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    main #contenido-principal .hero-image{
        width: 100%;
        height: auto;
    }

    main #contenido-destacado{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     main #contenido-destacado .contenido-texto h2{
        font-size: 2rem;
        text-align: center;
     }

    main #contenido-destacado .caracteristicas{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    main #contenido-destacado .caracteristicas .caracteristica .caracteristica-imagen{
        width: 100%;
        height: auto;
    }

    main #contenedor-testimonios{
        grid-template-columns: 1fr;
    }

    main #contenedor-testimonios .testimonios{
        grid-template-columns: 1fr;
        align-items: center;
        padding: 1rem;
    }

    main #contenedor-testimonios .testimonios .testimonio{
        width: 80%;
        margin: 10px auto;
        max-width: 400px;
        padding: 20px;
    }

    main #ubicacion{
        grid-template-columns: 1fr;
    }

    main #ubicacion .contenido-texto h2{
        display: block;
        margin-bottom: 1rem;
    }

    main #ubicacion .mapa iframe{
        width: 100%;
        height: auto;
    }

    footer .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
        text-align: center;
    }

    footer .footer-content .informacion-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }




    /*DISEÑO RESPONSIVO NOSOTROS.HTML*/
  
    main #presentacion-contenido .contenido-capa{
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 15px;
    }
    
    main #presentacion-contenido .contenido-capa h2{
        font-size: 2rem;
        line-height: 2.2rem;
        padding: 5px;
    }

    main #historia .contenido{
        display: flex;
        flex-direction: column;
    }

    main #historia .contenido .contenido-texto{
        padding: 20px;
        width: 100%;
        line-height: 1.6rem;
        font-size: 1.1rem;
    }

    main #historia .contenido .contenido-texto h2, main #historia .contenido .contenido-texto p{
        padding: 20px;
    }

    main #historia .contenido .imagen-historia{
        width: 100%;
        height: auto;
    }

    main #objetivo-restaurante, main #objetivo-restaurante .capa-oscura{
        height: auto;
    }

    main #objetivo-restaurante .capa-oscura h2{
        font-size: 1.8rem;
        line-height: 2rem;
        margin: 20px 10px;
    }
    
    main #objetivo-restaurante .capa-oscura .contenido-grupo{
        grid-template-columns: 1fr;
        margin: auto;
    }
    
    main #objetivo-restaurante .contenido:not(:last-child) {
        border-right: none; 
        border-bottom: 2px solid rgba(255, 255, 255, 0.5); /* Línea divisoria horizontal*/
        padding-bottom: 30px;
        margin: 20px 30px;
    }

    main #equipo-restaurante .contenido-texto{
        width: 100%;
        padding: 20px;
    }

    main #equipo-restaurante hr {
        margin: 1rem 20px;
    }

    main #equipo-restaurante .presentacion-equipo .personal{
        width: 90%;
        padding: 20px;
    }

    main #mapa-restaurante, main #mapa-restaurante .mapa iframe {
        height: 350px;
    } 



    /*DISEÑO RESPONSIVO CARTA.HTML*/
    main #carta-contenido{
        background-attachment: scroll;
        background-position: center;
        height: auto;
    }

    main #carta-contenido .capa-oscura{
        height: auto;
        padding: 80px 20px;
    }

    main #carta-contenido .capa-oscura .contenido {
        width: 90%;
        padding: 10px;
        font-size: 1.4rem;
    }

    main #entradas-carta .platos-grid-layout .plato-tarjeta {
        width: 90%;
        height: 35vh;
        margin: 10px 0;
    }

    .separacion-carta {
        margin: 10px 20px;
    }


    /*  DISEÑO RESPONSIVO DE CONTACTO */
    main #contacto-presentacion {
        background-attachment: scroll;
        height: auto !important;
    }

    main #contacto-presentacion .capa-oscura {
        height: auto !important;
        padding: 60px 20px;
    }

    main #contacto-presentacion .capa-oscura .contenido-capa {
        width: 95%;
        padding: 10px;
        font-size: 1.3rem; 
        line-height: 2rem;
    }

    main #apartado-formulario {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px; 
    }

    main #apartado-formulario .tarjeta-complemento {
        width: 100%; 
        box-sizing: border-box;
    }

    main #apartado-formulario .tarjeta-complemento p {
        padding: 0 10px;
    }

    main #apartado-formulario #formulario-contacto {
        width: 100%; 
        box-sizing: border-box;
        padding: 25px 20px;
    }

    main #apartado-formulario #formulario-contacto h2 {
        font-size: 1.6rem; 
    }

    main #apartado-formulario #formulario-contacto button[type="submit"] {
        width: 100%; 
        padding: 12px; 
    }



    /*Diseño responsivo de Blog.HTML*/
    main #blog-presentacion {
        background-attachment: scroll;
        height: auto !important;
    }

    main #blog-presentacion .capa-oscura {
        height: auto !important;
        padding: 60px 20px;
    }

    main #blog-presentacion .capa-oscura .contenido-capa {
        width: 95%;
        padding: 10px;
        font-size: 1.3rem;
        line-height: 2rem;
    }

    main #blog-contenido {
        padding: 15px;
    }

    main #blog-contenido .tarjeta-presentacion {
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 10px;
    }

    main #blog-contenido .tarjetas-blog {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    main #blog-contenido .tarjetas-blog .tarjeta-blog {
        width: 100%;
        box-sizing: border-box;
        font-size: 1.1rem;
    }

    main #blog-contenido .tarjetas-blog .tarjeta-blog .btn-leer-mas {
        width: 100%;
        text-align: center;
    }

    main #blog-suscripcion {
        padding: 30px 15px;
    }

    main #blog-suscripcion .tarjeta-suscripcion {
        width: 100%;
        box-sizing: border-box;
        padding: 25px 15px;
    }

    main #blog-suscripcion .tarjeta-suscripcion p {
        font-size: 1.1rem;
    }

    main #blog-suscripcion .tarjeta-suscripcion form {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    main #blog-suscripcion .tarjeta-suscripcion form input[type="email"], 
    main #blog-suscripcion .tarjeta-suscripcion form [type="text"] {
        width: 100%;
        box-sizing: border-box;
    }

    main #blog-suscripcion .tarjeta-suscripcion form .btn-suscripcion {
        width: 100%; 
        padding: 12px;
    }
}